.document {
  background-color: black;
}

.container {
  margin: auto;
}

.item {

}

.centerImage {
  z-index: 1;
  position: absolute;
}

#x {
  position: absolute;
}

#a {
  position: relative;
}
h1 {
  font-family: Helvetica, Gotham, serif;
  font-style: bold;
  font-size: 60px;
}
h3 {
  font-family: Helvetica, Gotham, serif;
  font-style: bold;
  font-size: 40px;
}

.bgcolor {
  background-color: black;
}

p {
  font-family: Helvetica;
}

a {
  text-decoration: none;
}

.background-img {
  background: url("../images/tom-photo-2017.jpg") no-repeat;
}

body {
  background: url(/);
  width: 800px;
  padding: 50px 50px 50px 50px;
}

/*a.hover {

}*/
